venvDragonborn
multi_tool_agent/.env
multi_tool_agent/__pycache__
test/.env

frontend
backend
test
yolov8webapp
gemini-image-id-backend/gemini-image-id-fastapi/.envvenvDragonborn
deployYolo
.vscode
object-detection-application/node_modules
object_detection_api/creds.json
object_detection_api/__pycache__


object-detection-application/node_modules
object

venvDragonborn
